<a href="https://colab.research.google.com/github/kdshreyas/exp_ml/blob/master/Notebooks/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
!git clone https://github.com/kdshreyas/exp_ml.git
path = '/content/exp_ml/Resources/Part 2 - Regression/Section 5 - Multiple Linear Regression/Python'
os.chdir(path)
os.listdir(path)

Cloning into 'exp_ml'...
remote: Enumerating objects: 334, done.
remote: Counting objects: 100% (334/334), done.
remote: Compressing objects: 100% (243/243), done.
remote: Total 334 (delta 97), reused 310 (delta 89), pack-reused 0
Receiving objects: 100% (334/334), 5.15 MiB | 25.49 MiB/s, done.
Resolving deltas: 100% (97/97), done.

['multiple_linear_regression.py',
 '50_Startups.csv',
 'multiple_linear_regression.ipynb']

In [4]:
import pandas as pd
df = pd.read_csv('50_Startups.csv')

In [6]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [18]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [23]:
pd.get_dummies(df, columns = ['State']).head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [ ]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2,test_size = 0.2)

In [32]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [33]:
y_pred = model.predict(X_test)
y_pred

array([ 74061.28,  46009.24,  99637.26, 155786.53, 127636.76, 192765.19,
        63907.  ,  54935.14,  84532.35, 109460.3 ])

In [34]:
model.score(X_test, y_test)

0.9783259006626532